/*****************************************************************************/
/* Some landscape phones and larger (576px) */
/*****************************************************************************/
@media only screen and (min-width: 540px) {
    .mountain {
        position: relative;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/pink-sky-mountains.jpeg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin: 0;
        /*transition: background-image 0.7s;*/
    }

    .mountain.dark {
        background-image: url("../img/night-time-mountains.jpeg");
    }

    /*
    .hero-text-container {
        margin-top: 30px;
    }

     */

    #hero-container .hero-text-container{
        height: 30vh; /*70vw*/
    }

    #hero-container .hero-text {
        margin-top: 100px;
        padding-top: 100px;
    }

    #hero-container .hero-text h1 {
        font-size: 5em;
    }

    #hero-container .hero-text h2 {
        font-size: 1.625em;
    }

    #overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;

        opacity: 0;
        transition: opacity 0.4s linear;
    }
}



/*****************************************************************************/
/* Some tablets and larger (768px) */
/*****************************************************************************/
@media only screen and (min-width: 768px) {
    .flex-container {
        flex-direction: row;
    }
}

/*****************************************************************************/
/* Some desktops and larger (992px) */
/*****************************************************************************/
@media only screen and (min-width: 992px) {

}

/*****************************************************************************/
/* Desktops and larger (1200px) */
/*****************************************************************************/
@media only screen and (min-width: 1200px) {

}