/*****************************************************************************/
/* Some landscape phones and larger (576px) */
/*****************************************************************************/
@media only screen and (min-width: 540px) {
    .mountain {
        position: relative;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/teahub.io-pink-sky-wallpaper-3231386.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin: 0;
        transition: background 0.2s linear;
    }

    .mountain.dark {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/darkmode-retrowave-wallpapers.jpg");
    }

    .hero-text-container {
        margin-top: 30px;
    }

    #hero-container .hero-text {
        margin-top: 100px;
        padding-top: 100px;
    }

    #hero-container .hero-text h1 {
        font-size: 5em;
    }

    #hero-container .hero-text h2 {
        font-size: 1.625em;
    }
}

/*****************************************************************************/
/* Some tablets and larger (768px) */
/*****************************************************************************/
@media only screen and (min-width: 768px) {
    .flex-container {
        flex-direction: row;
    }
}

/*****************************************************************************/
/* Some desktops and larger (992px) */
/*****************************************************************************/
@media only screen and (min-width: 992px) {

}

/*****************************************************************************/
/* Desktops and larger (1200px) */
/*****************************************************************************/
@media only screen and (min-width: 1200px) {

}