/*****************************************************************************/
/* Colours */
/* Blue: #002f5e */
/* Crimson: #a91639 */
/* Purple: #662d91 */
/* Logo Grey: #484848 */
/*****************************************************************************/

header, footer,
header a, footer a,
header a:visited, footer a:visited {
    color: #fff;
}

header {
    background: #FC5C7D; /* fallback for old browsers  #CE93D8 */
    background: -webkit-linear-gradient(to bottom, #6A82FB, #FC5C7D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header nav.background-on {
    background-color: #8C66B7;
}

body {
    background-color: #F5F1F8;
}
.sections {
    background-color: #fff;
}

/*****************************************************************************/
/* Fonts */
/*****************************************************************************/
h1, h2, h3, h4, h5, h6, nav, th, p {
    font-family: Raleway, sans-serif;
}

h2 {
    font-size: 1.625rem; /* to 1.75rem */
}

h6, nav ul li a {
    font-size: 1.2rem; /*1.125rem;*/
    /*
    font-family: Raleway-semibold, sans-serif;
     */
    font-family: Open Sans, Lucida Grande, Lucida Sans Unicode, Helvetica Neue, Arial, sans-serif;
}

header nav {
    font-weight: bold;
}

header a {
    text-decoration: none;
}

/*****************************************************************************/
/* Header */
/*****************************************************************************/
header {
    height: 100vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px; /* 50 */
}

#site-title, header nav, header .social {
    position: relative;
    z-index: 2;
}

#hero-container .hero-text-container {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    margin-top: 70px;
    margin-bottom: 0.5em;
}

.hero-text-container .hero-text {
    text-align: center;
    margin-left: 15px;
    margin-right: 20px;
    padding-top: 50px;
}

.hero-text-container .hero-text h1 {
    font-size: 3em;
}

.hero-text-container .hero-text h2 {
    font-size: 1.4em; /* font-size: 1.625rem; */
}

header ul, header li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social a i {
    margin-bottom: 15px;
}


/*****************************************************************************/
/* Navbar */
/*****************************************************************************/
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-nav li a {
    float: right;
}

/*****************************************************************************/
/* Body */
/*****************************************************************************/
html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

/*
article {
    max-width: 900px;
    margin: auto;
}

 */

.sections {
    line-height: 170%;
    letter-spacing: 1.3px;
    /*
    padding: 15px 25px 10px;
    margin: 20px 7%;
     */
}

.sections {
    background-color: #fff;
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.20);
    box-shadow: 0 0 7px rgba(0,0,0,0.20);
    border-radius: 3px;
    padding: 30px 25px 15px; /* 60px 25px 25px; */
    margin-bottom: 30px;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

.container{
    padding-top: 30px;
}

#col_1 {
    width: 200px;
    margin-right: 55px;
}

#col_2, #col_3 {
    width: 150px;
    margin-right: 50px;
}

.column {
    justify-content: space-evenly;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

/*****************************************************************************/
/* Footer */
/*****************************************************************************/
footer {
    padding: 32px 32px 64px 32px;
}

#copyright {
    text-align: center;
    color: black;
    padding-top: 32px;
    margin: 15px;
}
