/*****************************************************************************/
/* Colours */
/* Blue: #002f5e */
/* Crimson: #a91639 */
/* Purple: #662d91 */
/* Logo Grey: #484848 */
/*****************************************************************************/

body {
    background-color: #484848;
}
.about, .contact, .projects {
    background-color: #575757;
}

/*****************************************************************************/
/* Fonts */
/*****************************************************************************/
h1, h2, h3, h4, h5, h6, nav, th, p {
    font-family: Raleway, sans-serif;
}
h2  {
    font-size: 1.625rem; /* to 1.75rem */
}
h6, nav ul li a  {
    font-size: 1.2rem; /*1.125rem;*/
    font-family: Raleway-semibold, sans-serif;
}


/*****************************************************************************/
/* Header */
/*****************************************************************************/
header {
    background-color: #484848;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}



/*****************************************************************************/
/* Navbar */
/*****************************************************************************/
.navbar-nav {
    color: #E2E8EF;
}

.navbar-nav li a {
    color: #E2E8EF!important;
    float: right;
}

.navbar-nav a:active {
    background-color: #3c3c3c;
}

.navbar-toggler {
    float: right;
}

.navbar-brand img {
    width: 110px;
}

/*****************************************************************************/
/* Body */
/*****************************************************************************/
html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

article {
    color: #E2E8EF;
    max-width: 900px;
    margin: auto;
}

.about, .contact, .projects {
    text-align: center;
    line-height: 170%;
    letter-spacing: 1.3px;
    padding: 15px 25px 10px;
    margin: 20px 7%;
}

/*****************************************************************************/
/* Footer */
/*****************************************************************************/
footer {
    padding: 32px 32px 64px 32px;
}

#copyright{
    text-align: center;
    color: black;
    padding-top: 32px;
    margin: 15px;
}


